.center {
    margin: auto;
}

.padding-main {
    padding: 10px;
}

.color1 {
    background-color: #252839;
}

.color2 {
    background-color: #677077;
}

.color3 {
    background-color: #b5b5b7;
}

.color4 {
    background-color: #f2b632;
}

.equidistant label {
    padding: 10px;
}

.component-border {
    border-style: groove;
    border-color: #252839;
    border-bottom-width: 5px;
}

.container {
    padding: 0px;
    bottom: 0px;
}

.no-right-padding {
    padding-right: 0px;
    padding-left: 8px;
}

.no-left-padding {
    padding-left: 8px;
    padding-right: 8px;
}

label {
    color: #252839;
    font-weight: bold;
}

h3 {
    color: #252839;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.text-number {
    color: #963019;
}
