<template>

    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="col s6">
                    <h5>Monde</h5>
                    <hr>
                    <p>Dimension: <span class="text-number">${informations.worldDimensions.width} x ${informations.worldDimensions.length} (${informations.worldDimensions.unit})</span></p>
                </div>

                <div class="col s6">
                    <h5>Robot</h5>
                    <hr>
                    <p>Position x: <span class="text-number">${informations.robot.position.x}</span> </p>
                    <p>Position y: <span class="text-number">${informations.robot.position.y}</span> </p>
                    <p>Angle: <span class="text-number">${informations.robot.orientation}</span></p>
                </div>

                <div class="col s12">
                    <h5>Obstacles</h5>
                    <hr>
                    <div repeat.for="obstacle of informations.obstacles">
                        <div class="col s6">
                            <p>Position: <span class="text-number">(${obstacle.position.x}, ${obstacle.position.y})</span></p>
                            <p>Tag: <span class="text-number">${obstacle.tag}</span></p>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <h5>Tâches</h5>
                    <hr>
                    <div class="col s6">
                        <p>Intitial orientation:<span class="text-number">${task_information.data.data.intitial_orientation}</span></p>
                        <p>Identifie antenna:<span class="text-number">${task_information.data.data.identifie_antenna}</span></p>
                        <p>Receive informations:<span class="text-number">${task_information.data.data.receive_informations}</span></p>
                        <p>Go to image:<span class="text-number">${task_information.data.data.go_to_image}</span></p>
                        <p>Take picture:<span class="text-number">${task_information.data.data.take_picture}</span></p>
                    </div>
                    <div class="col s6">
                        <p>Go to drawing zone:<span class="text-number">${task_information.data.data.go_to_drawing_zone}</span></p>
                        <p>Draw image:<span class="text-number">${task_information.data.data.draw_image}</span></p>
                        <p>Go out of drawing zone:<span class="text-number">${task_information.data.data.go_out_of_drawing_zone}</span></p>
                        <p>Light red led:<span class="text-number">${task_information.data.data.light_red_led}</span></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="green btn" click.trigger="resetDetection()">Reset detection</button>
            </div>
        </div>
    </div>

</template>
