<template>
    <div class="col s6 container">
        <div class="row">
            <div class="no-left-padding">
                <div class="card">
                    <div class="card-content center-align">
                        <h3>Informations</h3>
                        <div>
                            <div class="card-content">
                                <h5>Obstacles</h5>
                                <div class="equidistant" repeat.for="obstacle of informations.obstacles">
                                    <label>x :</label>
                                    <label class="text-number">${obstacle.position.x}</label>
                                    <label>y :</label>
                                    <label class="text-number">${obstacle.position.y}</label>
                                    <label>Tag :</label>
                                    <label class="text-number">${obstacle.tag}</label>
                                    <label>Width :</label>
                                    <label class="text-number">${obstacle.dimension.width}</label>
                                </div>
                                <div class="card-action">
                                </div>
                                <h5>Robot</h5>
                                <div class="equidistant">
                                    <label>x :</label>
                                    <label class="text-number">${informations.robot.position.x}</label>
                                    <label>y :</label>
                                    <label class="text-number">${informations.robot.position.y}</label>
                                    <label>Angle :</label>
                                    <label class="text-number">${informations.robot.orientation.value}</label>
                                </div>
                                <div class="card-action">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
