<template>

    <div class="card">
        <div class="card-content">



            <div class="row">
                <div class="col s6">
                    <h5>Monde</h5>
                    <hr>
                </div>
                <div class="col s6">
                    <h5>Robot</h5>
                    <hr>
                    <p>Position: <span class="text-number">(${informations.robot.position.x}, ${informations.robot.position.y})</span> </p>
                    <p>Angle: <span class="text-number">${informations.robot.orientation}</span></p>
                </div>

                <div class="col s12">
                    <h5>Obstacles</h5>
                    <hr>
                    <div repeat.for="obstacle of informations.obstacles">
                        <div class="height-text">
                            <label class="float-left">Position x :</label>
                            <label class="text-number float-right">${obstacle.position.x}</label>
                        </div>
                        <div class="height-text">
                            <label class="float-left">Position y :</label>
                            <label class="text-number float-right">${obstacle.position.y}</label>
                        </div>
                        <div class="height-text">
                            <label class="float-left">Have to pass :</label>
                            <label class="text-number float-right">${obstacle.tag}</label>
                        </div>
                        <div class="height-text">
                            <label class="float-left">Width :</label>
                            <label class="text-number float-right" float-right>${obstacle.dimension.width}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <p>Timer: <span class="text-number">${timer.time}</span></p>
            </div>
        </div>


    </div>

</template>