<template>
    <require from="../go-to-position/go-to-position"></require>
    <require from="../robot-controller/robot-controller"></require>


    <div class="card">
        <div class="card-content">
            <div class="row">
                <h5>World Vision</h5>
                <img id="${canvasId}" width="640px" height="400px" src="${visionProperties.imagePath}" style="cursor: crosshair"></img>
            </div>

            <div class="row">
                <div class="col s6">
                    <p>Mouse position: <span class="text-number">(${x_position}, ${y_position})</span></p>
                </div>

                <div class="col s6">
                    <p>Next destination --> <span class="text-number">(${chosen_x_position}, ${chosen_y_position})</span></p>
                    <input value.bind="theta" placeholder="theta">
                    <go-to-position x-position="${chosen_x_position}" y-position="${chosen_y_position}" theta="${theta}"></go-to-position>
                </div>
            </div>
        </div>
    </div>


</template>