<template>
    <require from="../go-to-position/go-to-position"></require>
        <div class="col s6 container">
           <div class="row">
                <div class="no-right-padding">
                    <div class="card">
                        <div class="card-content center-align">
                            <h3>World Vision</h3>
                        <div>
                            <div class="card-image">
                                <canvas id="${canvasId}" width="640px" height="480px" style="background: url(${visionProperties.imagePath})"></canvas>
                            </div>
                            <div class="card-content">
                                <span class="equidistant float-left" >
                                    <label>Mouse position</label>
                                    <label>x :</label>
                                    <label class="text-number">${x_position}</label>
                                    <label>y :</label>
                                    <label class="text-number">${y_position}</label>
                                </span>
                                <span class="equidistant float-right" >
                                    <label>Chosen position</label>
                                    <label>x :</label>
                                    <label class="text-number">${chosen_x_position}</label>
                                    <label>y :</label>
                                    <label class="text-number">${chosen_y_position}</label>
                                </span>
                            </div>
                            <div class="card-action">
                                <go-to-position x-position="${chosen_x_position}" y-position="${chosen_y_position}"></go-to-position>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>
